{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->
                <div id="home-slick">
                    <!-- banner -->
                    {% for banner in banners %}
                        <div class="banner banner-1">
                            {% thumbnail banner.image "1200x675" crop="center" as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                            <div class="banner-caption text-center">
                                <h1>{{ banner.caption }}</h1>
                                <button class="primary-btn">Shop Now</button>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- /banner -->
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Latest Products</h2>
                    </div>
                </div>
                <!-- section title -->

                {% for product in products %}
                    <!-- Product Single -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <div class="product-thumb">
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view
                                </button>

                                {% thumbnail product.image "270x360" crop="center" as im %}

                                    <img src="{{ im.url }}" alt="">

                                {% endthumbnail %}
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">${{  product.price }}</h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="{% url 'shop:product_detail' product.slug %}">{{ product.title }}</a></h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                        Wishlist
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Single -->
                {% endfor %}

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}