{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="product product-details clearfix">
        <div class="col-md-6">
            <div id="product-main-view">
                <div class="product-view">
                    {% thumbnail product.image "1200x1200" crop="center" as im %}
                        <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="product-body">
                <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                </div>
                <h2 class="product-name">{{ product.title }}</h2>
                <h3 class="product-price">{{ product.price }}
                </h3>
                <div>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>
                    <a href="#">{{ product.productreview_set.count }} Review(s) / Add Review</a>
                </div>
                <p><strong>Availability:</strong> In Stock</p>
                <p><strong>Brand:</strong> {{ product.brand_name }}</p>
                <p>{{ product.details }}</p>


                <div class="product-btns">
                    <div class="qty-input">
                        <span class="text-uppercase">QTY: </span>
                        <input class="input" type="number">
                    </div>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Wishlist</button>
                    <div class="pull-right">
                        <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                        <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                        <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="product-tab">
                <ul class="tab-nav">
                    <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                    <li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        {{ product.details }}
                    </div>
                    <div id="tab2" class="tab-pane fade in">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-reviews">

                                    {% for review in product.productreview_set.all %}
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div><a href="#"><i class="fa fa-user-o"></i> {{ review.user.username }}
                                                </a></div>

                                                <div class="review-rating pull-right">

                                                    {% for i in review.rating_range %}
                                                        <i class="fa fa-star"></i>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                            <div class="review-body">
                                                <p>{{ review.comment }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="col-md-6">
                                    <h4 class="text-uppercase">Write Your Review</h4>
                                    <form class="review-form" method="POST"
                                          action="{% url 'shop:product_detail' product.slug %}">

                                        {% csrf_token %}

                                        {% if form.errors %}
                                            <p style="color: red">Please fill all fields</p>
                                        {% endif %}

                                        <div class="form-group">
                                            <textarea name="comment" class="input" placeholder="Your review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-rating">
                                                <strong class="text-uppercase">Your Rating: </strong>
                                                <div class="stars">
                                                    <input type="radio" id="star5" name="rating" value="5"/><label
                                                        for="star5"></label>
                                                    <input type="radio" id="star4" name="rating" value="4"/><label
                                                        for="star4"></label>
                                                    <input type="radio" id="star3" name="rating" value="3"/><label
                                                        for="star3"></label>
                                                    <input type="radio" id="star2" name="rating" value="2"/><label
                                                        for="star2"></label>
                                                    <input type="radio" id="star1" name="rating" value="1"/><label
                                                        for="star1"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="primary-btn">Submit</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}