{% extends "base.html" %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'shop:register' %}">
        {% csrf_token %}


        {{ form.as_p }}

        <input type="submit" class="btn btn-default" value="Sign Up">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}